@import "../fonts/ravie.css";
@import "../fonts/verdana.css";
@import "colors.css";

h1 {
    font-family: Ravie, serif;
}

:not(h1) {
    font-family: Verdana, serif;
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
}

strong {
    color: #d027aa;
}

#recipiente {
    background-image: linear-gradient(to bottom, var(--initial-gradient-color), var(--end-gradient-color) 80%);
    border-left: 1px solid var(--border-recipient-color);
    border-right: 1px solid var(--border-recipient-color);
}

#cardapio {
    background-color: rgba(255, 255, 255, 0.2);
    border-top: 1px solid var(--border-menu-color);
    border-bottom: 1px solid var(--border-menu-color);
    border-left: 1px solid var(--border-menu-color);
}

#cardapio h3 {
    font-size: 18px;
    margin-top: 30px;
}

#cardapio article {
    font-size: 14px;
    color: #333;
}


/* EXERCÍCIO 2: layout da página */
#recipiente {
    max-width: 800px;
    margin: 0 auto 0 auto;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 7% auto 9%;
    grid-template-areas: "section header"
                        "section main"
                        "section footer";
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

section {
    grid-area: section;
}

#cardapio {
    grid-area: main;
}


/* EXERCÍCIO 3: cabeçalho da página */

header {
    padding: 10px 10px 10px 0;
}

header h1 {
    margin: 0;
    font-size: 36px;
    color: #e90c0c;
    font-weight: normal;
    text-align: center;
}

header h2 {
    margin: 0;
    font-size: 18px;
    color: var(--text-color);
    font-weight: normal;
    text-align: end;
}

/* EXERCÍCIO 4: cada item do menu */
main {
    padding-left: 20px;
    padding-right: 20px;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* EXERCÍCIO 5: o rodapé */
footer {
    display: flex;
    justify-content: flex-end;
    margin: 46px 15px 25px
}


/* EXERCÍCIO 6: lateral */
section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* EXERCÍCIO 7: o ticket */
#ticket {
    top: calc(50% - 84px / 2);
    left: -89px;
    position: fixed;
    transition: left 100ms ease-out;
}

#ticket:hover {
    left: 0;
}


/* EXERCÍCIO 8: deslocamento no siri e peixe */
#siri, #peixe {
    position: relative;
}

#siri {
    top: 17px;
    right: 10px;
}

#peixe {
    right: 44px;
}
